header,main,footer{
	padding-left: 250px;
}
main{
	min-height: 550px;
}
.borderbottom{
	border-bottom: 3px solid #eee;
}
 .signin{
        width: 50%;
        margin:0 auto;
        border: 2px solid #eee;
        padding:20px;
        margin-top: 50px;
      }
.signin.lol{
  width: 80%;
}
.marginner{
	margin-left:34%;
}
.side-nav{
	width: 250px;
}

@media only screen and (max-width:992px){
header,main,footer{
padding-left: 0;
}
 .signin{
        width: 90%;
      }
.marginner{
	margin-left: 0;
}
}
